.fighter-preview___root {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 350px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___props-box {
  max-width: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
}
